//body { background:url(/images/dota2.jpg) fixed no-repeat center;}
// Custom styles.

#main,.header{
	opacity:.9;
}
.header{
	z-index:999;
}
.headband{
	height:1px;
}
//.footer-inner{
//	padding-left:0;
//}
//.container .main-inner,#header{
//	width:1060px;
//}
//.content-wrap{
//	width:800px;
//}
.local-search-pop-overlay{
	z-index: 998;
}


body {
    background-image:url(/images/dota2.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
    background-size:cover;
}
